<div id="message- <%= message.id %> ">
  <small>
    <strong> <%= message.user.nickname %></strong>
    <i> <%= message.created_at.localtime.strftime("%e %b %Y, %H:%M")%></i>
  </small>
  <p> <%= message.content %> </p>
</div>
