<div id="message- <%= message.id %>">
<small>
    <strong> <%= message.user.nickname %></strong>
    <i> <%= message.created_at.localtime.strftime("%e %b %Y, %H:%M")%></i>
  </small>
  <div class="message-group-received">
    <div class="message-received">
      <div class="message-received-text">
        <%= message.content %>
      </div>
    </div>
  </div>
</div>
