// Specific CSS for your home-page

h2 {
  color: #7f0924;
  font-size: 50px;
  margin-top: 110px;
  font-family: 'Neucha', cursive;
}

.proposition {
    background-image: url(friends-bkg.png);
    background-position: 500px 345px;
    font-family: 'Neucha', cursive;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(248, 231, 233, 0.5);
    padding: 0px 60px;
    padding-top: 144px;
    margin-bottom: 20px;
    background-blend-mode: multiply;
    background-size: 500px;
    background-repeat: no-repeat;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  p {
    color: #7f0924;
    font-size: 32px;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 28px;
  }
}

#about-us-div {
  #about-us {
    color: #7f0924;
    margin: 150px;
    font-size: 50px;
    font-family: 'Neucha', cursive;
    text-align: center;
    margin-bottom: 85px;
    font-weight: bolder;
  }
  #our-values {
    display: flex;
    font-size: 32px;
    justify-content: space-evenly;
    p {
      font-family: 'Neucha', cursive;
      color: #282828;
      // font-weight: 600;
    }
    i {
      font-size: 46px;
    }
  }
}

.choose-your-bond {
  #action-heading {
    text-align: center;
    font-size: 50px;
    background-color: rgba(248, 231, 233, 0.5);
    padding-top: 48px;
    margin-top: 250px;
    margin-bottom: 0px;
  }
  .options {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 0px 60px;
    padding-bottom: 50px;
    background-color: rgba(248, 231, 233, 0.5);
    font-family: 'Kentledge';
    .bond-btn {
      margin-top: 30px;
      margin-bottom: 25px;
      padding: 9px 16px;
      font-size: 20px;
      border-radius: 100px;
    }
    p {
      font-size: 18px;
    }
    .choose-your-bond-desc p {
      background-color: rgba(248, 231, 233, 0.5);
      margin: 0px;
    }
  }
}

.fa-people-group {
  color: #fe5055;
}

.fa-handshake {
  color: #fe5055;
}

.fa-hand-holding-heart {
  color: #fe5055;
}

.fa-hands-holding-circle {
  color: #fe5055;
}

.bond-btn {
  color: #fff;
  background-color: #fe5055;
}

.button-neon {
  background-color: #fe5055;
  border: 3px solid #fe5055;
  border-radius: 50px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: #fff;
}
.button-neon:hover {
  background-color: transparent;
  color: #fe5055;
  box-shadow: 0 0 10px 0 #fe5055 inset, 0 0 20px 2px #fe5055;
  border: 3px solid #fe5055;
}

.btn-desc {
  font-family: 'Kentledge';
}

.about-bonded {
  font-weight: bolder;
  font-family: 'Neucha', cursive;
}

.explore-popular-groups {
  h2 {
    font-size: 50px;
    margin-top: 50px;
  }
}

.wrapper {
  height: 424px;
  /*This part is important for centering*/
  display: flex;
  place-items: baseline;
  margin: 50px auto;
  justify-content: center;
}

.typing-text {
  width: 800px;
  animation: typing 2.2s steps(30), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 28px;
  font-weight: bolder;
  font-family: 'Neucha', cursive;
  color: #7f0924;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

.group-cards-flexbox {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
}

.group-card-info-home {
  padding-left: 48px;
  font-family: 'Neucha', cursive;
  color: #7f0924;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  font-size: 24px;
  padding-top: 25px;
  a {
    font-size: 26px;
    font-family: 'Neucha', cursive;
    color: #7f0924;
  }
}

.group-img-index-home {
  border-radius: 8px;
  max-width: 300px;
}

.group-location {
  font-size: 22px;
  color: #282828;
}
