// Specific CSS for your home-page

h1 {
  color: #7f0924;
  font-size: 50px;
  font-family: 'Neucha', cursive;
}

h2 {
  color: #7f0924;
  font-size: 50px;
  margin-top: 110px;
  font-family: 'Neucha', cursive;
}

.proposition {
    background-image: url(friends-bkg.png);
    background-position: 500px 326px;
    font-family: 'Neucha', cursive;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(248, 231, 233, 0.5);
    padding: 276px 60px;
    padding-top: 144px;
    margin-bottom: 20px;
    background-blend-mode: multiply;
    background-size: 500px;
    background-repeat: no-repeat;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  p {
    color: #7f0924;
    font-size: 30px;
    text-align: center;
    margin-top: 52px;
  }
}

#about-us-div {
  #about-us {
    color: #7f0924;
    margin: 150px;
    font-size: 50px;
    font-family: 'Neucha', cursive;
    text-align: center;
    margin-bottom: 85px;
  }
  #our-values {
    display: flex;
    font-size: 30px;
    justify-content: space-evenly;
    font-family: 'Neucha', cursive;
    // margin: 120px 0px;
  }
}

.choose-your-bond {
  #action-heading {
    text-align: center;
    background-color: rgba(248, 231, 233, 0.5);
    padding-top: 48px;
    margin-top: 250px;
    margin-bottom: 0px;
  }
  .options {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 16px 60px;
    padding-bottom: 50px;
    background-color: rgba(248, 231, 233, 0.5);
    .btn {
      margin-top: 30px;
      margin-bottom: 25px;
      padding: 15px 32px;
      font-size: 15px;
      border-radius: 100px;
    }
    p {
      font-size: 18px;
    }
  }
}

.btn {
  color: #fff;
  background-color: #fe5055;
}

.button-neon {
  background-color: #fe5055;
  border: 3px solid #fe5055;
  border-radius: 50px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: #fff;
}
.button-neon:hover {
  box-shadow: 0 0 10px 0 #fe5055 inset, 0 0 20px 2px #fe5055;
  border: 3px solid #fe5055;
}

p span {
  display: block;
}
