
<div class="container">
    <div class="d-flex">
      <img class="group-img-show img-fluid col-sm-6" src=<%= @group.image_url %> alt="">
        <div class="text-beside-pic-1">
          <h3 class="text-beside-pic-2"><strong><%= @group.name %></strong></h3>
          <h3 class="text-beside-pic-2"><%= @group.location %></h3>
        </div>
    </div>

  <div class="d-flex">
    <strong><p class="text-under-pic">About</p></strong>
    <strong><p class="text-under-pic">Members</p></strong>
    <strong><p class="text-under-pic">Events</p></strong>
    <strong><p class="text-under-pic">Discussion</p></strong>
  </div>

  <div>
    <h3>About</h3>
    <p>This in information about the group</p>
    <h3>Members</h3>
    <p>INPUT SMALL/CIRCULAR PROFILE PICS LINED OUT IN A ROW----SEE MEETUP GROUPS PROFILE</p>
    <h3>Events</h3>
    <P>Group Meetups -- Weekly Drinks -- Monthly Sports Day</P>
    <h3>Discussion</h3>
    <p>INPUT POST DISCUSSION FEATURE</p>
  </div>
</div>
