
<div class="group-cards-container">
    <div class="group-card">
      <img class="group-show-img" src=<%= @group.image_url %> alt="">
      <div class="group-card-info">
        <h3><strong><%= @group.name %></strong></h3>
        <h3><%= @group.location %></h3>
      </div>
    </div>
  </div>
