<div class="container group-show-content row d-flex">
  <div class="row">
    <div class="col-12 col-sm-2 .group-show-btn">
      <%= link_to "Back to groups", groups_path, class: "btn group-show-btn-content btn-sm btn-block" %>
      <a href="" class="btn group-show-btn-content btn-sm btn-block">Join this group</a>
      <a href="" class="btn group-show-btn-content btn-sm btn-block">Events group</a>
    </div>

    <img class="col-12 col-sm-4" src=<%= @group.image_url %> alt="">

    <div class="col-12 col-sm-4 text-center group-show-img-content">
      <h3><strong><%= link_to @group.name, group_path(@group), class: "group-name" %></strong></h3>
      <p class="group-text-about"><%= @group.about %></p>
    </div>

    <h2 class="col-12 col-sm-2 text-center border">Map</h2>
  </div>

  <hr class="style-divider-2">

  <div class="row">

    <div class="col-12 col-sm-2">
    </div>

    <div class="col-12 col-sm-8 text-center border">
      <h2>Discussion</h2>
    </div>

    <div class="col-12 col-sm-2 border">
    <h3>Members</h3>
    </div>

  </div>
</div>
