<div class="container" >
  <div class="card-header text-center">
    <h2 class="card-title fw-bold text-capitalize"> Want to find a likeminded friend to talk to?
    <br>
    Check out these people nearby
    </h2>
    <p class="fw-light mt-40">
    "We support you through the journey of getting to know your new friends, and recommend great groups for you to join together"
    <p>
  </div>
  <%= render 'shared/search' %>
  <%= render 'shared/cards_user' %>
</div>
