<div class="footer-body">
  <div class="footer-bonded">
    <div class="footer-wrapper">
      <div class="footer-social">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class ="footer-contact" >
        <ul>
          <li>
          <p class="m-0"><strong>Contact us</strong></p>
          <a href="#">contact@teambonded.com</a></li>
          <li>
          <p class="m-0" ><strong>Press enquiries</strong></p>
          <a href="#">press@teambonded.com</a></li>
          <li>
          <p class="m-0"><strong>Something else?</strong></p>
          <a href="#">info@teambonded.com</a></li>
        </ul>
      </div>
      <div class = "footer-link" >
        <ul>
          <li>
          <a href="/">Home</a></li>
          <li>
          <a href="#">About us</a></li>
          <li>
          <a href="#">Privacy</a></li>
          <li>
          <a href="#">Terms</a></li>
          <li>Copyright 2022</li>
        </ul>
    </div>
  </div>
</div>
