<div class="proposition">
  <div>
    <img src="https://fontmeme.com/permalink/220823/f9a4af9b09e0d2e134f6732fa04f98ec.png" alt="">
  </div>
  <div class="wrapper">
    <div class="typing-text">
      With Bonded, you can join communities and connect with new friends nearby!
    </div>
  </div>
</div>

<div id="about-us-div">
  <p id="about-us" class="about-bonded">Bonded provides access to a community who are there to listen, share information and offer valuable advice.</p>
  <div id="our-values">
    <div class="d-flex flex-column align-items-center justify-content-center">
      <p>Community</p>
      <i class="fa-solid fa-people-group"></i>
    </div>
    <div class="d-flex flex-column align-items-center justify-content-center">
      <p>Authenticity</p>
      <i class="fa-regular fa-handshake"></i>
    </div>
    <div class="d-flex flex-column align-items-center justify-content-center">
      <p>Empathy</p>
      <i class="fa-solid fa-hand-holding-heart"></i>
    </div>
    <div class="d-flex flex-column align-items-center justify-content-center">
      <p>Loyalty</p>
      <i class="fa-solid fa-hands-holding-circle"></i>
    </div>
  </div>
</div>

<div class="choose-your-bond">
  <h2 id="action-heading" style="text-align: center"><strong>Choose your bond</strong></h2>
  <div class="options">
    <div>
      <button class="bond-btn button-neon">Meet a friend</button>
      <p class="btn-desc">
        <span>Discover and chat with new people nearby</span><span>who share similar interests.</span>
      </p>
    </div>
    <div>
      <button class="bond-btn button-neon">Join a group</button>
      <p class="btn-desc">
        <span>Join groups and find communities</span><span>with common interests.</span>
      </p>
    </div>
  </div>
  <div class="container">
    <div class="explore-popular-groups">
      <h2><strong>Explore popular groups</strong></h2>
    </div>
  </div>
</div>
