<div class="proposition">
  <div>
    <img src="https://fontmeme.com/permalink/220823/f9a4af9b09e0d2e134f6732fa04f98ec.png" alt="">
  </div>
  <div>
    <%# <h1><strong>Bonded friendships made easy!</strong></h1> %>
    <p>
      <span>With Bonded, you can join communities with similar interests</span><span>and connect with new friends nearby!</span>
    </p>
  </div>
</div>

<div id="about-us-div">
  <p id="about-us">Bonded provides access to a community who are there to listen, share information and offer valuable advice.</p>
  <div id="our-values">
    <p>Community</p>
    <%# <i class="fal fa-handshake"></i> %>
    <p>Authenticity</p>
    <p>Empathy</p>
    <p>Loyalty</p>
  </div>
</div>

<div class="choose-your-bond">
  <h2 id="action-heading" style="text-align: center"><strong>Choose your bond</strong></h2>
  <div class="options">
    <div>
      <button class="btn button-neon">Meet a friend</button>
      <p>
        <span>Discover new people nearby</span><span>who share similar interests.</span>
      </p>
    </div>
    <div>
      <button class="btn button-neon">Join a group</button>
      <p>
        <span>Join groups and find communities</span><span>with common interests.</span>
      </p>
    </div>
  </div>
  <div class="container">
    <h2><strong>Explore popular groups</strong></h2>
  </div>
</div>
