.group-profile {
  padding-top: 10px;
  margin: 0px 100px;
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    // max-width: 300px;
    width: 370px;
    // height: 600px;
    margin: 0px;
    padding: 20px 20px;
    text-align: center;
    border-radius: 10px;
    img {
      width: 100%;
      // width: 200px;
      height: 300px;
      object-fit: cover;
      border-radius: 10px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
}

.group-show-card-content {
  margin-top: 16px;
  display: flex;
  justify-content: space-around;
  margin: 0px 150px;
}

.join-btn {
  background-color: #fe5055;
  border-radius: 50px;
  color: #fbecea;
  margin-bottom: 16px;
}

.group-show-avatar {
  min-height: 55px;
  max-height: 55px;
  min-width: 55px;
  max-width: 55px;
  border-radius: 50%;
  border: white 2px solid;
  margin-left: 1px;
  margin-top: 2px;
  margin-bottom: 8px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
h2  {
  margin:0;
  padding: 10px;
}

p {
  display:flex;
}

.flex-item {
  display:flex;
}

.discussion-card {
  background-color: white;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 32px;
  padding: 32px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.discussion-card-title {
  display: flex;
}

.card-title-item {
  margin-left: 10px;
  margin-top: 5px;
}

.discussion-card-content {
  margin-left: 10px;
  text-align: left;
  padding: 5px;
}

.discussion-container {
  margin-top: 40px;
  margin-bottom: 40px;
}

.group-show-content {
  margin-top: 120px;
}

.members {
  font-family: 'Kentledge';
  font-weight: bolder;
  margin: 10px 0px;
  padding-top: 32px;
}

.group-show-map {
  border-radius: 20px;
  margin-top: 24px;
  padding-left: 64px;
}

.group-show-about {
  font-size: 12px;
}
