
.group-container-show-index {
  margin: 85px 112px 0px 112px;
  border-radius: 25px;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
  background-color: rgba(248, 231, 233, 0.5);
  padding: 24px 112px 48px 112px;
}

h2 {
    margin-top: 0px;
    padding-top: 8px;
    padding-bottom: 32px;
    font-family: 'Neucha', cursive;
    color: #7f0924;
    font-size: 50px;
}

.dropdown {
  // background-color: #fe5055;
  // border-radius: 50px;
  // color: #fbecea;
  // font-family: 'Kentledge';
  // margin-left: 8px;
  // margin-bottom: 16px;

  font-size: 15px;
  background-color: white;
  border: 2px solid #fe5055;
  border-radius: 50px;
  color: #fe5055;
  font-family: 'Kentledge';
  // margin-left: 8px;
  margin-left: 8px;
  margin-bottom: 16px;
}

.dropdown:hover {
  color: #fe5055;;
}


.submit-btn-group {
  // border: 1px solid #fe5055;
  // border-radius: 50px;
  // color: #fe5055;
  // font-family: 'Kentledge';
  // margin-left: 8px;
  // margin-bottom: 16px;
  // background-color: rgba(248, 231, 233, 0.5);
  font-size: 15px;
  margin: 0 8px;
  margin-bottom: 16px;
  padding: 3px 20px;
  border-radius: 100px;
  background-color: #fe5055;
  border: 3px solid #fe5055;
  border-radius: 50px;
  color: #fe5055;
  font-family: 'Kentledge';
  margin-left: 8px;
  margin-bottom: 16px;
}

// .submit-btn-group:hover {
//   color: #fe5055;
//   border: 1px solid #fe5055;
// }

.group-cards-container {
  margin-top: 32px;
  padding-bottom: 32px;
}

.group-card {
  display: flex;
  text-decoration: none;
}

.group-card-info {
  padding-left: 48px;
  font-family: 'Neucha', cursive;
  text-decoration: none;
  font-family: 'Kentledge';
}

.group-img-index {
  border-radius: 8px;
  max-height: 180px;
  max-width: 210px;
  min-width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.submit:hover {
  color: #0000008c;
  border: 3px solid #fe5055;
}

.group-text {
  padding-top: 6px;
}

.group-text-about {
  padding-top: 8px;
}

.map-dot-index {
  padding: 0px 8px;
  padding-left: 8px;
  padding-right: 6px;
  padding-bottom: 6px;
  font-size: 20px;
  color: #fe5055;
}

.group-location-index {
  font-size: 20px;
  font-weight: bolder;
  font-family: 'Neucha', cursive;
  font-weight: light;
  font-size: 20px;
}

.group-category-index {
  font-size: 18px;
  color: grey;
  padding-bottom: 20px;
}

.group-about-index {
  padding: 0px 0px 8px 0px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  height: 36px;
  font-size: 12px;
}

.group-name {
  font-size: 30px;
  font-weight: bolder;
  font-family: 'Neucha', cursive;
  color: #7f0924;
  text-decoration: none;
  font-size: 24px;
}

.group-index-divider {
  color: #7f0924;
  margin: 12px 20px 20px 20px;
  max-height: 2px;
  min-height: 2px;
  border-radius: 2px;
}
