.dropdown {
  background-color: #fe5055;
  border: 3px solid #fe5055;
  border-radius: 50px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: #fff;
}

.dropdown:hover {
  border: 3px solid #fe5055;
}

.group-container {
  background-color: #fbecea;;
}

.group-cards-container {
  margin-top: 32px;
}

.group-card {
  display: flex;
  margin-bottom: 16px;
}

.group-card-info {
  padding-left: 16px;
  padding-top: 24px;
  font-family: 'Neucha', cursive;
  color: #7f0924;
}

.heading {
  padding-top: 48px;
  padding-bottom: 32px;
}

.group-img-index {
  border-radius: 8px;
}
