.group-profile {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 20px 108px 20px 148px;

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    // max-width: 300px;
    width: 600px;
    // height: 600px;
    margin: auto;
    padding: 20px 20px;
    text-align: center;
    border-radius: 20px;
    img {
      width: 100%;
      // width: 200px;
      height: 300px;
      object-fit: cover;
      border-radius: 10px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
}

.group-show-card-content {
  margin-top: 16px;
  display: flex;
  justify-content: space-around;
  margin: 0px 150px;
}

.join-btn {
  background-color: #fe5055;
  border-radius: 50px;
  color: #fbecea;
  margin-bottom: 16px;
}

.join-btn:hover {
  color: #fe5055;;
}

.group-show-avatar {
  min-height: 55px;
  max-height: 55px;
  min-width: 55px;
  max-width: 55px;
  border-radius: 50%;
  border: white 2px solid;
  margin: 2px 0px 8px 16px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

h2  {
  margin:0;
  padding: 10px;
}

p {
  display:flex;
}

.flex-item {
  display:flex;
}

.discussion-card {
  background-color: white;
  border-radius: 5px;
  margin: 8px 64px 8px 64px;
  padding: 32px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.discussion-card-title {
  display: flex;
}

.card-title-item {
  margin-left: 10px;
  margin-top: 5px;
}

.discussion-card-content {
  margin-left: 10px;
  text-align: left;
  padding: 5px;
}

.discussion-container {
  margin-top: 40px;
  margin-bottom: 40px;
}

.group-show-content {
  margin-top: 120px;
}

.members {
  color: black;
  font-family: 'Kentledge';
  margin: 8px 0px 10px 16px;
  font-size: 24px;
  font-weight: bolder;
}

.group-show-map {
  border-radius: 20px;
  margin: 50px 50px 0px 0px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.group-show-about {
  font-size: 12px;
}

#group-show-socials:hover {
  color: #fe5055;
}

.group-card-name {
  margin: 20px;
  font-family: 'Kentledge';
  font-weight: bolder;
  margin: 10px 0px;
  color: black;
}

.map-dot-show {
  font-size: 16px;
  padding-right: 4px;
  padding-top: 4px;
  color: #fe5055;
  /* color: white; */
  /* text-shadow: -1px 1px 0 #0000008c,
  1px 1px 0 #0000008c,
  1px -1px 0 #0000008c,
  -1px -1px 0 #0000008c;  to make white with black border */
}

.map-container-show {
  margin-right: 64px;
}

.members-container {
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 50px 50px 0px 0px;
}

.group-show-name-card {
  font-weight: bolder;
  color: black;
  margin: 20px;
  font-family: 'Kentledge';
  font-size: 34px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.members-divider {
  color: black;
  margin: 0px 48px 4px 8px;
  border-top: 2px solid;
  border-radius: 2px;
}
