.group-show-btn-content {
  margin-left: 32px;
  margin-top: 12px;
  max-width: 121px;
  min-width: 121px;
  background-color: #fe5055;
  border-radius: 5px;
  color: #fbecea;
}

.group-show-btn:hover {
  border: 3px solid #fe5055;
  color: #0000008c;
}

.group-show-content {
  margin-top: 120px;
  margin-left: 64px;
}
.group-img-show {
  max-width: 340px;
  min-width: 340px;
  max-height: 280px;
  min-height: 280px;
  border-radius: 12px;
  margin-left: 48px;
}

.group-show-img-content {
  margin-top: 40px;
}

.style-divider-2 {
  color: #0000008c;
  margin-top: 16px;
  max-width: 1032px;
}
