.dropdown_1 {
  border-radius: 40px;
  font-size: 14px;
  line-height: 1;
  color: white;
  background-color: #008294;
}

.dropdown_2 {
  border-radius: 40px;
  font-size: 14px;
  line-height: 1;
  color: white;
  background-color: #008294;
}
