.dropdown {
  background-color: #fe5055;
  border: 3px solid #fe5055;
  border-radius: 50px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: #fff;
}

.dropdown:hover {
  border: 3px solid #fe5055;
}
