.group-cards-container {
  margin-top: 16px;
}


.group-card {
  display: flex;
  margin-bottom: 16px;
}

.group-card-info {
  padding-left: 16px;
  padding-top: 24px;
}

.heading {
  padding-top: 240px;
}

.group-img {
  border-radius: 50%;
}
