.group-container {
  background-color: #fbecea;;
}

.group-cards-container {
  margin-top: 32px;
}


.group-card {
  display: flex;
  margin-bottom: 16px;
}

.group-card-info {
  padding-left: 16px;
  padding-top: 24px;
  font-family: 'Neucha', cursive;
  color: #7f0924;
}

.heading {
  padding-top: 48px;
  padding-bottom: 32px;
}

.group-img {
  border-radius: 8px;
}
