// h2 {
//   font-size: "Kentledge","SF Pro Display","Helvetica Neue",Helvetica,Arial,sans-serif;
//   margin-top: 100px;
//   padding: 40px;
//   font-size: 40px;
//   line-height: 30px;
// }

.user-index-cards-header-h2 {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 40px;
  // padding-top: 65px;
}

.user-index-cards-header-p {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.user-index-cards {
  background: rgba(255, 255, 255, 0.7);
  // background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  border: white;
  // background: white;
  max-width: 800px;
  width: 60%;
  margin: 5px auto;
}

.user-index-indiv-cards {
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  // background: #fff;
  transition: border 1s;
}

.user-index-indiv-card-top{
  display:flex;
}

.user-index-indiv-card-profile {
 margin-left: 12px;
 margin-top:17px;
 p {
  font-size: 14px;
  text-align: justify;
  margin-right: 16px;
 }
}

.user-index-card-icons {
  width: 130px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  margin: 0 auto;
}

.user-index-indiv-card .p {
  font-family: "Kentledge","SF Pro Text","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.user-index-indiv-card .h2 {
  font-family: "Kentledge","SF Pro Display","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.user-index-indiv-card a {
  text-decoration: none;
  color:burlywood;
}

.user-index-cards-body-wrapper {
  width: 100%;
  justify-content: center;
  display:flex;
}

.user-index-container {
  background-color:#fbecea;
  width:100%;
}

.user-index-indiv-card-avatar {
  margin: 14px 10px;
}

.navbar-body-space {
  margin-top:80px;
}

.user-index-cards-search-body-h2 {
  display:flex;
  align-items: center;
  width:100%;
  flex-direction: column;
}

#user-search-form {
  display:flex;
  align-items: center;
  justify-content: center;
  // width:100%;
  margin-top: 15px;
  margin-bottom: 15px;
  #location {
    font-size: 15px;
    background-color: white;
    border: 2px solid #fe5055;
    border-radius: 50px;
    color: #fe5055;
    font-family: 'Kentledge';
    margin-left: 8px;
  }
 
  #min_age {
    font-size: 15px;
    background-color: white;
    border: 2px solid #fe5055;
    border-radius: 50px;
    color: #fe5055;
    font-family: 'Kentledge';
    margin-left: 8px;
  }
  #max_age {
    font-size: 15px;
    background-color: white;
    border: 2px solid #fe5055;
    border-radius: 50px;
    color: #fe5055;
    font-family: 'Kentledge';
    margin-left: 8px;
  }
  #gender {
    font-size: 15px;
    background-color: white;
    border: 2px solid #fe5055;
    border-radius: 50px;
    color: #fe5055;
    font-family: 'Kentledge';
    margin-left: 8px;
  }
}

.fa-cake-candles {
  margin-right: 20px;
}

.fa-venus-mars {
  margin-right: 20px;
}

.map-dot-users{
  margin-right: 20px;
}

.user-index-profile-info {
  display: flex;
  margin: 20px 5px;
  margin-bottom: 0px;
  p {
    margin-right: 55px;
  }
}

.view-profile-btn {
  font-size: 15px;
  /* margin: 25px 80px; */
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 4px 20px;
  border-radius: 100px;
  background-color: #fe5055;
  border: 3px solid #fe5055;
  border-radius: 50px;
  transition: all .15s ease-in-out;
  color: #fff;
}
.view-profile-btn:hover {
  background-color: transparent;
  color: #fe5055;
  box-shadow: 0 0 10px 0 #fe5055 inset, 0 0 20px 2px #fe5055;
  border: 3px solid #fe5055;
}

.user-index-steps {
  display: flex;
  justify-content: center;
  font-size: 17px;
  #step-1 {
    margin-right: 100px;
    font-weight: bolder;
  }
  #step-2 {
    margin-right: 100px;
    font-weight: bolder;
  }
  #step-3 {
    font-weight: bolder;
  }
  .fa-circle-arrow-right {
    margin-right: 12px;
    font-size: 25px;
    color: #fe5055;
  }
}

.index-search-btn {
  font-size: 15px;
  margin: 0 8px;
  margin-bottom: 16px;
  padding: 3px 20px;
  border-radius: 100px;
  background-color: #fe5055;
  border: 3px solid #fe5055;
  border-radius: 50px;
  transition: all .15s ease-in-out;
  color: #fff;
}


// font-size: 15px;
//     margin: 0 8px;
//     margin-bottom: 16px;
//     padding: 3px 20px;
//     border-radius: 100px;
//     background-color: #fe5055;
//     border: 3px solid #fe5055;
//     border-radius: 50px;
//     transition: all .15s ease-in-out;
//     color: #fff;
